html, body{
    margin : 0px;
    width : 100%;
    height : 100%;
    overflow: hidden;
    background-color: #FFFFFF;
}
#canvasContainer{
    position: relative;
    margin : 0px;
    width : 100%;
    height : 95%;
    border: 1 px solid #c3c3c3;
}
/*text的范围*/
#textInputSpan{
    position: absolute;
    color: #000000;
    font-family: sans-serif;
}
#em{
            color: navy;
        }
#em_a{
            color:hotpink;
        }
        #em_b{
            color: red;
        }
        #em_c{
            color: green;
        }
        #em_d{
            color: blue;
           size:33;
        }


#controls {
            position: absolute;
            left: 25px;
            top: 25px;
            
        }
